<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice - Demo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Gestión - Demo</h1>
        <div th:if="${username}">
            <p>Hola, <strong th:text="${username}">Usuario</strong>!</p>
            <div class="button-container">
                <a th:href="@{/empresas}" class="button">Administrar Empresas</a>
                <div th:switch="${isAdmin}">
                    <div th:case="true">
                        <div>Usted es administrador</div>
                        <a th:href="@{/usuarios}" class="button">Administrar Usuario</a>
                    </div>
                    <div th:case="false">
                        <div>Usted es usuario normal</div>
                    </div>
                </div>
                <form th:action="@{/logout}" method="post" style="display:inline">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="button logout">Cerrar sesión</button>
                </form>
            </div>
        </div>
        <div th:unless="${username}">
            <h1>Bienvenido! Inicie sesión para poder acceder!</h1>
            <a th:href="@{/login}" class="button">Logearse</a>
        </div>
    </div>
</body>
</html>
